.albumsList { 
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

.allAlbums {
	margin-bottom: 30px;
}

.oneAlbum {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}