<!DOCTYPE html>
<html>
<head>
	<title>Drupal - Node JS</title>
	<meta charset="utf-8">
    <!-- base href for Angular (HTML5 mode) -->
    <base href="/">
    <!-- meta tag for bootstrap (mobile devices) -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" 
      type="image/ico" 
      href="/imgs/fav/favicon.ico" />
    <!-- JS libs -->
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-touch.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-resource.min.js"></script>
    <script src="libs/ui-bootstrap-tpls.min.js"></script>
    <script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_sv-se.js"></script>
    <script src='/libs/lodash.js'></script>
    <script src='/libs/angular-simple-logger.js'></script>
    <script src='/libs/angular-google-maps.min.js'></script>
    <script src='/libs/ng-alertify.js'></script>
</head>
<body>
	<h1>HEJ PÅ DIG!</h1>
</body>
</html>